
:root {
    --notificari-container-bg-color: #FFFFFF;
    --following-container-bg-color: #FFFFFF;
    --main-bg-color: #FFFFFF;
    --navbar-bg-color: #FFFFFF;
    --button-color: #FFFFFF;
    --button-hover-color: #FFFFFF;
    --color-medium: #FFFFFF;
    --color-darker: #FFFFFF;
    --text-color: #FFFFFF;
    --header-color: #FFFFFF;
    
}

body[data-theme="default-theme"] {
    --bg-color: #FF0000;
    --color: #964B00;
}