
:root {
    --notificari-container-bg-color: white;
    --following-container-bg-color: white;
    --main-bg-color: white;
    --navbar-bg-color: #102A5C;
    --button-color: #102A5C;
    --button-hover-color: white;
    --color-medium: white;
    --color-darker: white;
    --text-color: white;
    --header-color: white;
    --page-background: #C8E4F3;
    
}

body[data-theme="default-theme"] {
    --notificari-container-bg-color: white;
    --following-container-bg-color: white;
    --main-bg-color: white;
    --navbar-bg-color: #102A5C;
    --button-color: #102A5C;
    --button-hover-color: #102042;
    --color-medium: white;
    --color-darker: white;
    --text-color: white;
    --header-color: white;
    --page-background: #DBECF3;
}