
.bigContainer {
    margin-top: 5rem;
    height: 40rem;
}

.followedByMeContainer {
    height: 100%;
}

.followedByMeContainer h2 {
    text-align: center;
}

.followingList {
    width: 100%;
    max-height: 70%;
    overflow: auto;
    align-items: center;

    margin: 0;
}

.followEntry {
    margin: auto;
    cursor: pointer;
    height: 3rem;
    padding: 0.5rem;
    padding-left: 30%;
}

.followEntry:hover {
    background-color: #ededed;
    transition: 0.5s;
}

.followEntry span {
    margin-left: 0.5rem;
}

.offline {
    opacity: 0.5;
}

.userSmallImg {
    max-height: 100%;
}

.btn-searchFriendsButton {
    background-color: var(--page-background);
    width: 100%;
    height: 2.5rem;
    margin-bottom: 2rem;
    background-color: var(--button-color);
    color: var(--text-color);
}

.btn-searchFriendsButton:hover {
    background-color: var(--button-hover-color);
    color: var(--text-color);
}
.followedByMeContainer h2 {
    top: 10%;
}