.locationContainer {
    background-color: var(--main-bg-color);
    margin-top: 1rem;
    padding: 1rem;
}

.locationName {
    text-align: center;
}

.btn-viewLocationButton{
    width: 100%;
    background-color: var(--button-color);
    color: var(--text-color);
}
.btn-viewLocationButton:hover {
    background-color: var(--page-background);
    color: var(--text-color);
}

.centerButton {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.btn-addLocationButton {
    margin: auto;
    width: 10rem;
    background-color: var(--button-color);
    color: var(--text-color);
}

.btn-addLocationButton:hover {
    background-color: var(--button-color);
    color: var(--text-color);
}
