
.titleContainer {
    font-family: "Lobster", sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-right: 3rem;
}

.logo {
    margin-top: 0;
    max-height: 4rem;
    margin-bottom: 1rem;
}

.navButton {
    display: inline-block;
    height: 4rem;
    margin-left: 2rem;
    margin-right: 2rem;
    color: var(--header-color);
    text-decoration: none;
    border-color: var(--button-color) !important;
    margin-bottom: 1rem;
    background-color: var(--button-color) !important;
}
.navButton:hover {
    background-color: var(--button-hover-color) !important;
}