.username {
    color: var(--button-color);
    text-align: center;
}
.imageSelect {
    padding: 2rem;
    margin-left: 10rem;
}

.imageInput { 
    padding: 1rem;
}

.editButton { 
    margin-left: 1rem;
}